#===== Default ignored =====#
# Folders #
.sublime-project-files/
__pycache__/
.venv/
resources/
data/
logs/
# Files #
__main__.py
__init__.py
scratch.py
#===== Project ignored =====#
# Folders #
tests/
# Files #
